<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PROYECTO EASY MEDIC</title> 

	<style>
	#background{position:center; z-index:1; width:100%; height:100%;}
	</style>



	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>

	<style type="text/css">
		#form_uno, #form_dos{
		display: inline-block;
		}
		#form_uno{
		margin-right: 15px; font-family:sans-serif;
		}
		label{
		display: inline-block;
		width: 200px;
		margin-rigth: 10px;
		}
		input{
		margin: 5px;
		}
	</style>


	<style type="text/css">
		.content {
		    width: 100%

		}

		.title {
		    font-size: 20px;
		    font-weight: bold;
		    padding-left: 10px;
		    padding-top: 10px;   
		    padding-bottom: 10px;
		    background-color: steelblue;
		    width: 97%;
		    text-align:center;
		}

		.left {
		    padding-left: 10px;
		    padding-top: 10px;
		    margin-left: 57px;
		    float: left;
		    position: relative;
		    width: 45%;
		    border: steelblue solid 1px;
		    height: auto;
		}

		.right {
		    padding-top: 10px;
		    padding-left: 10px;
		    margin-left: 10px;
		    position: relative;
		    float: left;
		    width: 45%;
		    border: steelblue solid 1px;
		    height: auto;
		}
		.center {
			padding-top: 10px;
		    padding-left: 10px;
		    margin-left: 10px;
		    position: relative;
		    float: left;
		    width: 45%;
		    border: steelblue solid 1px;
		    height: auto;

		}
	</style>

</head>

<body style='background-color:white; border:6px solid white;'>