<% include partials/header %>

<h1 style="background-color:DodgerBlue; font-family:Oswald,sans-serif; color: #ffffff; text-align:center;">Easy Medic</h1>

<h2 style="background-color:rgba(199, 231, 244, 0.73); font-family:sans-serif; color: #000000; text-align:center;"> Pacientes</h2>


	<h3 style=" font-family:sans-serif; color: DodgerBlue;"><b>Insertar Nuevo</b></h3>
			<div id="form_uno">
				<form action="/insertaAntecedente" method="post">
				<fieldset>
				<legend> <b> Nuevo Antecedente </b></legend>
				<div>
					<label>Cedula Paciente</label><input type="text" name="cedula">&nbsp&nbsp&nbsp&nbsp<label>Tipo de Antecedente</label><input type="text" name="Tipo" ><br />

					<label>Descripción</label><input type="text" name="Descripción">&nbsp&nbsp&nbsp&nbsp

					
					<input type="submit" value="Procesar" /><br />
				</div>
				</fieldset>
				</form>
		</div>


<% include partials/footer %>