<% include partials/header %>

<h1 style="background-color:DodgerBlue; font-family:Oswald,sans-serif; color: #ffffff; text-align:center;">Easy Medic</h1>

<h2 style="background-color:rgba(199, 231, 244, 0.73); font-family:sans-serif; color: #000000; text-align:center;"> Pacientes</h2>

<h3 style=" font-family:sans-serif; color: DodgerBlue;"><b>Insertar Nuevo</b></h3>

		<div id="form_uno">
			<form action="/insertaPaciente" method="post">
			<fieldset>
			<legend> <b> Nuevo Paciente </b></legend>
			<div>
				<label>Cedula</label><input type="text" name="cedula">&nbsp&nbsp&nbsp&nbsp<label>Seguro Social</label><input type="text" name="Seguro" ><br />

				<label >Primer Nombre</label><input type="text" name="PNombre">&nbsp&nbsp&nbsp&nbsp<label>Sexo</label><input type="text" name="Sexo" ><br />

				<label>Segundo Nombre</label><input type="text" name="SNombre">&nbsp&nbsp&nbsp&nbsp<label>Tipo de Sangre</label><input type="text" name="TipoSangre" ><br />

				<label >Primer Apellido</label><input type="text" name="PApellido">&nbsp&nbsp&nbsp&nbsp<label>Estado Civil</label><input type="text" name="edoCivil" ><br />

				<label >Segundo Apellido</label><input type="text" name="SApellido">&nbsp&nbsp&nbsp&nbsp<label>Teléfono</label><input type="text" name="tlfn"> <br />

				<label>Fecha de Nacimiento</label><input type="text" name="fechaNac">&nbsp&nbsp&nbsp&nbsp
				<label>Lugar de Nacimiento</label><input type="text" name="lugarNac"> <br />
				<label>Dirección</label><input type="text" name="direccion">&nbsp&nbsp&nbsp&nbsp
			
				<input type="submit" value="Procesar" /><br />
			</div>
			</fieldset>
			</form>
		</div>

<% include partials/footer %>