<% include partials/header %>

<h1 style="background-color:DodgerBlue; font-family:Oswald,sans-serif; color: #ffffff; text-align:center;">Easy Medic</h1>

	<h2 style="background-color:rgba(199, 231, 244, 0.73); font-family:sans-serif; color: #000000; text-align:center;"> Citas</h2>

		<div class="content">
	        <h3 style=" font-family:sans-serif; color: DodgerBlue;"><b>Citas Disponibles</b></h3>
	        <div class="center">

		            <form style=" text-align:center; font-family:sans-serif; color: gray; style="float: left"; method="post" action="/citasporMedico">
						<p> <b> Ingrese la cédula del médico </b> </p>
						<input type="text" name="cedula">
						<input type="submit">
					</form> <br/>

	        </div>
        </div>

<% include partials/footer %>