<% include partials/header %>

<h1 style="background-color:DodgerBlue; font-family:Oswald,sans-serif; color: #ffffff; text-align:center;">Easy Medic</h1>

	<h2 style="background-color:rgba(199, 231, 244, 0.73); font-family:sans-serif; color: #000000; text-align:center;"> Historia Médica</h2>

		<h3 style=" font-family:sans-serif; color: DodgerBlue;"><b>Crear Nueva</b></h3>

			<div id="form_uno">
				<form action="/crearInforme"; method="post">
				<fieldset>
				<legend> <b> Nuevo Informe </b></legend>
				<div>
					<label>Cedula del médico</label><input type="text" name="cedMedico">&nbsp&nbsp&nbsp&nbsp<label>Instrucciones</label><input type="text" name="instrucciones" ><br />

					<label >Cédula del paciente</label><input type="text" name="cedPaciente">&nbsp&nbsp&nbsp&nbsp<label>Fecha</label><input type="text" name="fecha" ><br />

					<label>Diagnóstico</label><input type="text" name="diagnostico">&nbsp&nbsp&nbsp&nbsp<label>Sintoma 1</label><input type="text" name="sintoma1" ><br />

					<label >Medicamento</label><input type="text" name="medicamento">&nbsp&nbsp&nbsp&nbsp<label>Sintoma 2</label><input type="text" name="sintoma2" ><br />

					<label>Alternativa de Medicamento</label><input type="text" name="alternativa">&nbsp&nbsp&nbsp&nbsp

					
					<input type="submit" value="Procesar" /><br />
				</div>
				</fieldset>
				</form>
			</div>

<% include partials/footer %>