<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>PROYECTO EASY MEDIC</title> 
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
</head>

<body>

<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>


  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Easy Medic</h1>
        <div class="row center">
          <h5 class="header col s12  orange-text">Una moderna forma de gestionar tu salud</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="medico.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="card #82b1ff blue accent-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Pacientes</b></span>
              <p> Visualiza todos tus datos ingresando tu cédula</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn" href="buscarDatos"><b>Buscar por cédula</b></a>
              
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card #bbdefb blue lighten-4">
            <div class="card-content white-text">
              <span class="card-title"><b>Medicos</b></span>
              <p> Visualiza una lista de todos los medicos disponibles</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn" href="buscarMedicos"><b>Ver médicos</b></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Una moderna forma de gestionar tu salud</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="medico5.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
      
        <div class="col s12 m6">
          <div class="card ##82b1ff blue accent-1">
            <div class="card-content white-text">
              <span class="card-title"><b>Citas</b></span>
              <p>Encuentra fácilmente los horarios para cada médico, visualiza todas tus citas o solicita una.</p>
            </div>
            <div class="card-action">
              <a href="/citasporMedico"><b>Buscar Horarios</b></a>
              <a href="/citasdePacientes"><b>Ver citas</b></a>
              <a href="/crearCitas"><b>Solicitar</b></a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card #bbdefb blue lighten-4">
            <div class="card-content white-text">
              <span class="card-title"><b>Facturas</b></span>
              <p class="blue-text text-darken-2">Puedes visualizar todas las facturas a las que estás asociado para las citas que has asistido, ingresando tu cédula.</p>
            </div>
            <div class="card-action">
              <a href="/buscarFactura"><b>Buscar por cédula</b></a>
            </div>
          </div>
        </div>

      </div>

     
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 orange-text">Fácil y rápido</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="medico3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company EasyMedic</h5>
          <p class="grey-text text-lighten-4">Somos un equipo de estudiantes universitarios que desarrollaron este proyecto con 3 miembros al verdadero 100%, cualquier contribución es apreciada.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

<% include partials/footer %>